.search__form {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
    input {
        all: unset;
        padding: 15px 20px;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: black;
        margin-bottom: 5px;
        color: white;
        width: 100%;
    }
    button {
        all: unset;
        position: absolute;
        right: 45px;
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        cursor: pointer;
    }
}