extends ../base

block content 
    form(method="POST")
        input(type="text", placeholder="Old Password") 
        input(type="text", placeholder="New Password") 
        input(type="text", placeholder="New Password Confirmation") 
        input(type="submit", value="Change Password")